<?xml version="1.0"?>
<phpunit
    backupGlobals="false"
    colors="true"
    bootstrap="tests/bootstrap.php"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
>
    <testsuites>
        <testsuite name="Core">
            <directory suffix="Test.php">./tests/Core</directory>
        </testsuite>
        <testsuite name="Parser">
            <directory suffix="Test.php">./tests/Parser</directory>
        </testsuite>
        <testsuite name="Condition">
            <directory suffix="Test.php">./tests/Condition</directory>
        </testsuite>
        <testsuite name="Manager">
            <directory suffix="Test.php">./tests/Manager</directory>
        </testsuite>
    </testsuites>
</phpunit>